
ジャンル編集画面

<%= form_with model: @genre, url:admin_genre_path(@genre.id), local:true do |f| %>
  <div> <label for ="inputName">ジャンル名</label>
    <%= f.text_field :name, autofocus:true, id:"inputName", placeholder:"Name" %></div>
    <div> <%= f.submit "Update" %></div>
<% end %>