<h2>
商品編集画面</h2>

     <%= form_with model: @item, local:true do |f| %>
      <h6>商品名</h6>
      <%= f.text_field :name %>

      <h6>商品説明</h6>
      <%= f.text_area :introduction %>
      <p>
      <%= f.submit 'Update Item', class: 'btn btn-success' %></p>
      <% end %>